<strong>Olá, {{ provider }}</strong>
<p>Bem vindo a GymPoint, sua inscrição foi confirmada. Confira os detalhes abaixo:</p>
<p>
    <strong>Aluno: </strong> {{student_name}} <br/>
    <strong>Plano: </strong> {{plan_title}} <br/>
    <strong>Data Início: </strong> {{start_date}} <br/>
    <strong>Data Fim: </strong> {{end_date}} <br/>
    <strong>Preço: </strong> {{price}} <br/>
    <br />
</p>
